@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: "Poppins", sans-serif;
  background-color: #D6DBDF;
}

.container {
  width: 940px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input#dig-tarefa {
  background-color: #F4F6F7;
  border: 1px solid #fff;
  padding: 10px;
  width: 200px;
  margin-right: 10px;
}

button.adicionar {
  padding: 10px;
  background-color: #F4F6F7;
  border: 1px solid #fff;
}

li.lista-tarefas {
  list-style: none;
  margin-left: -158px;
}

.checked {
  text-decoration: line-through;
}

span.close {
  margin-left: 15px;
  font-size: 20px;
}

li {
  font-size: 20px;
  text-transform: capitalize;
}

.lista-check {
  width: 37%;
}